version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    image: stock_app_flask
    container_name: stock_flask
    ports:
      - "5005:5000"
    volumes:
      - .:/app
    environment:
      FLASK_ENV: development
